@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body, html{
    background-color: lightgray;
}
header{
    background-color: gray;
}
header > h1{
    text-align: center;
    color: white;
    padding: 20px;
}
menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li> a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    border-top: 2px solid rgb(88, 88, 88);
}
menu a:hover{
    background-color: rgb(145, 145, 145);
}
main{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
main h2{
    text-align: center;
    margin-bottom: 20px;
}
main p{
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}
