@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(128, 128, 128, 0.699);
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: gray;
    color: white;
    height: 10vh;
}
h1{
    margin-top: 10px;
}
nav{
    margin-top: 2%;
}
nav > ul > li{

    display: inline;
    list-style: none;
    padding: 20px;
}
    