@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body, html{
    width: 100%;

    height: 100%;

}
body{
    background: url('../imagens/fundo-madeira.jpg') center center ;
    background-size: cover;
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section{
    width: 100%;

}
section#celular{
    position: relative;
    background: url('../imagens/frame-iphone1.png') no-repeat;
    height: 311px;
    width: 627px;

    max-width: 100%;
    
}


iframe#tela{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 481px;
        height: 273px;
        
    }
    

header{
    width: 1px;
    height: 0px;
}
.container{ 
    display: flex;
    justify-content: space-around;
    gap: 20px;
    

}
header > div > a, img{
    width: 50px;
    border-radius: 50%;
    
}

