@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte01:"Passion One", sans-serif;
    --fonte02: "Sriracha", 'cursive';

    
}
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
    background-color: white;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-size: 5em;
    font-family: var(--fonte01);
    

}
header > p{
    padding-bottom: 50px;
    font-weight: 1.2em;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
    background-color: rgba(255, 0, 255, 0.733);
    border-radius: 10px;
    padding: 5px;
}

section{
    padding: 30px;
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 2em;
    padding-left: 30px;
    background-size: cover;
    font-family: var(--fonte02);
    font-size: 1.5em;
    text-align: justify;
}

section.normal{
    background-color: white;

}
section.imagem{
    background-position: center center;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    width: 300px;
    

}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    
}
footer a{
    text-decoration: none ;
    font-size: 1.1em;
    color: rgb(177, 174, 174);

}
footer a:hover{
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 255, 0.774);
}